<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <meta charset="utf-8" >
    <title>NOTICIAS TVP</title>
    <link href="css/one-page-wonder.min.css" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/estilos/index.css">   <!--Con esta etiquerta de th:replace reemplazas el archivo head que esta em fragmentos, así no se repite siempre el mismo codigo-->
    <body>       

        <nav th:replace="/fragments/navbar :: nav"></nav>

        <section class="py-5 text-center container">

            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Noticias TVP</h1>
                <p class="lead text-muted">Portal de noticias de Argentina, con todo lo importante en relacion a Cultura, Deportes, Economía y más.</p>
            </diV>
            <div >
                <div class="noticia">

                    <div th:each="noticia : ${noticias}"> 
                        <h6  name = "titulo" th:text="${noticia.titulo}"></h6>
                        <img class="prueba" th:src="@{/imagen/imgNoticia/__${noticia.id}__}" >
                        <div>
                            <a class="card-link" th:if="${session.usuariosession != null}" th:href= "@{/mostrar/__${noticia.id}__}">Ver Noticia</a>                                
                        </div>
                    </div>         
                </div>       
            </div>
            <div class="container contenedorLibros">
                <a class="btn btn-xl mt-2 boton" th:if="${session.usuariosession != null}" th:href="@{/inicio}">Volver</a>
            </div>

        </section> 

        <footer class="text-muted py-5">
            <div class="containerFooter">
                <p class="mb-1">Album example is &copy; Bootstrap,<br>but please download and customize it for yourself!</p>
                <p class="mb-0">New to Bootstrap? <a href="/"><br>Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
                <p class="float-end mb-1">
                    <a href="#" style="text-decoration:none"><span>⬆️</span> Back to top</a>
                </p>
            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>

</html>
