<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <head th:replace= "/fragments/head :: head" </head>   <!--Con esta etiquerta de th:replace reemplazas el archivo head que esta em fragmentos, así no se repite siempre el mismo codigo-->
    <body>       

   <nav th:replace="/fragments/navbar :: nav"></nav>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Noticias TVP</h1>
                    <p class="lead text-muted">Portal de noticias de Argentina, con todo lo importante en relacion a Cultura, Deportes, Economia y mucho mas.</p>
                </diV>
                <div class="container m-5" align="center">
                    <div >

                        <div th:each="noticia : ${noticias}"> 
                            <h3  name = "titulo" th:text="${noticia.titulo}"></h3>
                            <img th:src="@{/imagen/imgNoticia/__${noticia.id}__}" >
                            <div>
                                <a class="card-link" th:href= "@{/mostrar/__${noticia.id}__}">Ver Noticia</a>                                
                            </div>
                        </div>         
                    </div>       
                </div>
            </div>
        </section> 

        <footer class="text-muted py-5">
            <div class="containerFooter">
                <p class="mb-1">Album example is &copy; Bootstrap,<br>but please download and customize it for yourself!</p>
                <p class="mb-0">New to Bootstrap? <a href="/"><br>Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
                <p class="float-end mb-1">
                    <a href="#" style="text-decoration:none"><span>⬆️</span> Back to top</a>
                </p>
            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>

</html>
