/java-ejemplo/nbproject/private/
/java-ejemplo/build/
/Ejercicio5-Guia7-POO/nbproject/private/
/Ejercicio5-Guia7-POO/build/
/Ejercicio6-Guia7-POO/nbproject/private/
/Ejercicio6-Guia7-POO/build/
/Ejercicio7-Guia7-POO/nbproject/private/
/Ejercicio7-Guia7-POO/build/
/Ejercicio8-Guia7-POO/nbproject/private/
/Ejercicio12-Guia7-POO/nbproject/private/
/Ejercicio2extraGuia7POO/nbproject/private/
/Ejercicio12-Guia7-POO/build/
/Ejercicio2extraGuia7POO/build/
/guia-7-del1al4/build/
/Ejercicio8-Guia7-POO/build/